message:
  enabled: true #是否开启发送信息
  type: "bark"  #选择发送信息方式
  bark:
    url: ""
    key: ""
  mail:
    host: ""    #例:smtp.qq.com
    protocol:   #Optional
    port:       #例:587
    username: ""
    password: ""
    from_name: "" #"zgg <zgg@mail.com>"
    to: ""      #分号内空格分开